body {
    font-family: sans-serif;
    background-color: rgb(108, 84, 66);
}
h1{
    text-align: center;
    color: blanchedalmond;
    border: 5px double burlywood;
    border-radius: 10px;
}
header{
    background-color: burlywood;
    padding: 3px;
    border: 5px double blanchedalmond;
    border-radius: 10px;
}
img{
    border: 5px double blanchedalmond;
    border-radius: 10px;
}
img:hover{
   opacity: 1;
    border: 6px solid blanchedalmond;
    transition: 0.5s ease-out;
    padding: 8px; 
}
.i{
    display: flex;
    justify-content: space-around;
    width: 1100px;
}
article {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 300px;
    border: 1px solid blanchedalmond;
    border-radius: 15px;
    text-align: center;
}
article img{
    width: 200px;
    height: 150px;

}
article:hover {
    box-shadow: 0 5px 5px 5px beige;
    background-color:burlywood;
    color: rgb(255, 246, 235);
    font-size:20px;
    transition: 1s ease-in;
}
.q{
    height: 510px;
}
.y{
    height: 900px;
}
.e{
    height: 700px;
}
